@model HomeIndexViewModel
@{
    ViewData["Title"] = "Search";
}

@await Component.InvokeAsync(typeof(MainHeaderViewComponent))
@await Component.InvokeAsync(typeof(MainNavigationMenuViewComponent))

<div class="banner">
    <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="banner_product_image"><img src="~/images/banner_product.png" alt=""></div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 class="banner_text">new era of smartphones</h1>
                    <div class="banner_price"><span>$1500</span>$1250</div>
                    <div class="banner_product_name">Apple iPhone X</div>
                    <div class="button banner_button"><a asp-controller="Products" asp-action="All">Shop Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- Shop Sidebar -->
                @await Component.InvokeAsync(typeof(SideBarViewComponent))
            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@Model.Products.ToList().Count</span> products found</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>price</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        @foreach (var item in @Model.Products)
                        {
                            <!-- Product Item -->
                            @if (@item.IsNew)
                            {
                                <div class="product_item is_new">
                                    <div class="product_border"></div>
                                    <div><a class="product_image d-flex flex-column align-items-center justify-content-center" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" tabindex="0"><img src="@item.PictureUrl" alt="picture"></a></div>
                                    <div class="product_content">
                                        <div class="product_price">$@item.Price</div>
                                        <div class="product_name"><div><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" tabindex="0">@item.Name</a></div></div>
                                    </div>
                                    <a asp-controller="WishList" asp-action="Add" asp-route-id="@item.Id"><div class="product_fav"><i class="fas fa-heart"></i></div></a>
                                    <ul class="product_marks">
                                        <li class="product_mark product_new">new</li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="product_item">
                                    <div class="product_border"></div>
                                    <div><a class="product_image d-flex flex-column align-items-center justify-content-center" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" tabindex="0"><img src="@item.PictureUrl" alt="picture"></a></div>
                                    <div class="product_content">
                                        <div class="product_price">$@item.Price</div>
                                        <div class="product_name"><div><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" tabindex="0">@item.Name</a></div></div>
                                    </div>
                                    <a asp-controller="WishList" asp-action="Add" asp-route-id="@item.Id"><div class="product_fav"><i class="fas fa-heart"></i></div></a>
                                </div>
                            }
                        }
                    </div>

                    <!-- Shop Page Navigation -->

                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                        <ul class="page_nav d-flex flex-row">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">21</a></li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


